@layer reset, base, components;

@import url('normalize.css') layer(reset);
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap') layer(base);

@layer reset {
    :root {
        --primary: #07755D;
        --secondary: #59bc1c;
        --denied: #ff8686;
        --text: #515959;
        --border: #59de0c;
    }
    .main {
        display: flow-root;
    }
}

@layer base {
    html {
        font-family: 'Inter', sans-serif;
        color: var(--text);
    }
    .card {
        max-width: 21em;
        margin: 1rem; /* without scaling */
        padding: 1em;
    }
}

@layer components {
    /* todo components */
    .card__title {
        color: var(--secondary);
        font-size: 3em;
        font-weight: bold;
        margin-top: 0em;
    }
    .highlight {
        color: var(--primary);
        font-weight: bold;
    }
    .big {
        font-size: 2em;
        font-weight: bold;
    }
    .small {
        font-size: 0.8em;
    }
    .button {
        background-color: var(--primary);
        border-radius: 0.5em;
        padding: 1em;
        text-align: center;
        margin-top: 2em;
    }
    .button--text {
        color: white;
        font-weight: bold;
        text-decoration: none;
    }

    .card__body {
        margin-top: 2em;
    }
    .card__header {
    }
    p {
        margin-block: 0.5em;
        color: var(--text);
    }
    .card__footer {

    }
    .card {
        border: solid 1px var(--border);
        border-radius: 1em;
        padding: 1.5em;
    }
    .ul__style {

    }
    .ul__yes {
        list-style-image: url(../images/check.svg);
    }
    .ul__no {
        list-style-image: url(../images/cross.svg);
    }
    .li--text {
        color: var(--text);
    }
    .ul__text {
        padding: 0.5em;
    }
}